body {
    font-family: cursive;
    text-align: center;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  h1 {
    margin-bottom: 30px;
  }
  
  #quiz {
    margin-bottom: 20px;
  }
  
  #answer {
    margin-top: 10px;
    padding: 5px;
  }
  
  #result {
    margin-top: 10px;
    font-size: 20px;
  }
  
  #nextButton {
    display: none;
    margin-top: 20px;
  }
  
  #score {
    margin-top: 20px;
    font-size: 24px;
  }
  